/* колір фону #F5F5F5 */
/* другорядний колір фону #F5F4FA */
/* герой і футер колір фону #2F303A */
/* колір тексту #212121 */
/* колір абзаців #757575 */
/* акцент #2196F3 */
/* білий #FFFFFF */
/* контакти у футері color: rgba(255, 255, 255, 0.6); */
:root {
  --black-color: #000000;
  --text-primary-color: #212121;
  --text-p-color: #757575;
  --primary-white-color: #ffffff;
  --background-secondary-color: #f5f4fa;
  --hero-footer-color--: #2f303a;
  --accent-color: #2196f3;
  --primary-btn-accent-color--: #188ce8;
}
body {
  background-color: var(--primary-white-color);
  color: var(--text-primary-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.nav-list,
.contacts-list,
.section-list {
  list-style-type: none;
}
.nav-list-item:hover,
.header-contacts:hover,
.footer-contacts:hover,
.address:hover,
.nav-list-item:focus,
.header-contacts:focus,
.footer-contacts:focus,
.address:focus {
  color: var(--accent-color);
}
/* Header */
.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.part {
  color: var(--accent-color);
}
.nav-list-item.current {
  color: var(--accent-color);
}
.nav-list-item {
  color: var(--text-primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-contacts {
  color: var(--text-p-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Стилі index.html */
/* Hero */
.hero {
  background-color: var(--hero-footer-color--);
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.btn {
  cursor: pointer;
  font-family: Roboto, sans-serif;
}
.btn.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
.btn.primary:hover,
.btn.primary:focus {
  background-color: var(--primary-btn-accent-color--);
}
/* Перелік рішень */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.item-desc {
  color: var(--text-p-color);
  /* font-weight: 400; */
  line-height: 1.71;
  /* успадковано від Body */
}
.team-section {
  background-color: var(--background-secondary-color);
}
.section-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-card {
  background-color: var(--primary-white-color);
}
.section-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* Стилі portfolio.html */
.btn-list,
.project-list {
  list-style-type: none;
}
.btn.secondary {
  background-color: var(--background-secondary-color);
  color: var(--text-primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.btn.secondary:hover,
.btn.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.project-link {
  text-decoration: none;
}
.project-title {
  color: var(--text-primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-desc {
  color: var(--text-p-color);
  font-size: 16px;
  /* font-weight: 400; */
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* Footer */
.footer {
  background-color: var(--hero-footer-color--);
}
.foot {
  color: var(--primary-white-color);
}
.address {
  color: var(--primary-white-color);
  font-style: normal;
  /* успадковано від Body */
  text-decoration: none;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  /* успадковано від Body */
  text-decoration: none;
}
